@{
    ViewBag.Title = "Contact";
}
<body style="text-align:center;">
    <h2>Grupo Y</h2>

    <p>
        Joel Abreu - 1100774 <br />
        Juan Avila - 1100378 <br />
        Leonel Rodríguez - 1098665 <br />
        Edgar Vásquez - 1098586 <br />
        Yazmin Vásquez - 1085273 <br />
    </p>

    <p>
        <strong>GitHub</strong>   <a href="https://github.com/BelkisVasquez0609/GestionCitas">https://github.com/BelkisVasquez0609/GestionCitas</a>
    </p>
</body>
